@-moz-keyframes fadeZoomIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadeZoomIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes fadeZoomIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeZoomIn {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header a {
  color: #333;
}
.history {
  margin-bottom: 20px;
}
.history > .search {
  background-color: #f8f8f8;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}
.history > .search > .remove {
  border-left: 1px solid #e4e4e4;
  padding: 10px;
}
.history > .search > .query {
  padding: 10px 14px 10px 10px;
}
.history > .search > .query,
.history > .search > .remove {
  float: left;
}
.history > .search > .remove:hover,
.history > .search > .query:hover {
  background-color: #dfdfdf;
}
#search_results {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
#search_results .search_result {
  opacity: 0;
  -webkit-animation-name: fadeZoomIn;
  -moz-animation-name: fadeZoomIn;
  -o-animation-name: fadeZoomIn;
  animation-name: fadeZoomIn;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 300ms;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  animation-duration: 300ms;
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
  -webkit-transition: box-shadow 0.4s linear;
  -moz-transition: box-shadow 0.4s linear;
  -o-transition: box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear;
}
@media screen and (max-width: 768px) {
  #search_results .search_result {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
  }
}
#search_results .search_result .info .stat {
  margin-top: 7px;
}
#search_results .search_result:hover {
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
}
#search_results .search_result:hover .rank {
  opacity: 1;
}
#search_results .search_result .rank {
  position: absolute;
  padding: 5px 10px;
  color: #fff;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#search_results .search_result .info {
  padding: 8px 10px;
}
#search_results .search_result .album-cover {
  position: relative;
}
#search_results .search_result .album-cover > img {
  max-width: 100%;
}
#search_results .search_result .album-cover .audio {
  width: 100%;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  #search_results .search_result .album-cover {
    float: left;
    width: 150px;
    margin-right: 20px;
    position: static;
  }
  #search_results .search_result .album-cover > .rank {
    opacity: 1;
  }
  #search_results .search_result .album-cover .audio {
    padding: 0 20px 10px 170px;
  }
  #search_results .search_result .album-cover .album-cover {
    position: relative;
  }
}
.byArtist .search_result {
  height: 375px;
}
@media screen and (max-width: 1200px) {
  .byArtist .search_result {
    height: 330px !important;
  }
}
.byTag .search_result {
  height: 335px;
}
@media screen and (max-width: 1200px) {
  .byTag .search_result {
    height: 290px !important;
  }
}
@media screen and (max-width: 768px) {
  .byArtist .search_result,
  .byTag .search_result {
    height: 150px !important;
  }
}
.radio {
  margin-left: 10px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
}
