if searches.length
  h5 История поиска:
  each search in searches
    .search(data-id='#{search.get("id")}')
      .query
        if search.get('service') === 'tag'
          i.icon-hash
        else
          i.icon-user
        = search.get('query')
      span.remove: i.icon-cancel