header.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Top Tracks
    .search_bar
    ul.nav.navbar-nav.navbar-right
      li
        a(href='https://github.com/shapkarin/music-search', target='_blank')
          i.icon-git
.history
#search_results
